{% extends "base.html" %}
{% block title %}
    Perfil {{user.username}}
{% endblock %}

{% block content %}
    <div class="contenedor">
        {%  if user.is_authenticated %}
            <div class="info_usuario">
                <p>
                    Sesión iniciada como {{ user.username }}
                    <a href="/logout/">Cerrar Sesión</a>
                </p>
            </div>
            <div class="menu_opciones">
                {% if leader %}
                    <ul class="list-inline">
                        <li><a href="/login/profile">Inicio</a></li>                                           
                        <li><a href="#">Mis Cursos</a></li>
                        <li><a href="/campus/curso/buscar">Buscar Cursos</a></li>
                        <li><a href="{{perfil.get_absolute_url}}">Ver Perfil</a></li>
                    </ul>
                {% elif secretaria %}
                    <ul class="list-inline">
                        <li><a href="/login/profile">Inicio</a></li>
                        <li><a href="/campus/secretaria/docentes-inscritos">Ver profesores inscritos</a></li>
                        <li><a href="{{perfil.get_absolute_url}}">Ver Perfil</a></li>
                    </ul>
                    {% block busqueda_secretaria %}
                    {% endblock %}
                    {% block matricular %}
                    {% endblock %}
                {% endif %}

                {% if leader and editar or secretaria or admin %}
                    {% block busqueda %}
                    {% endblock %}
                {% elif leader %}
                    {% block restricted %}
                    {% endblock %}
                {% endif %}
                {% if admin %}
                    <ul class="list-inline">
                        <li><a href="/login/profile">Inicio</a></li>
                        <li><a href="/campus/curso/buscar">Cursos</a></li>
                        <li><a href="/campus/admin/reportes">Ver Reportes</a></li>
                        <li><a href="/admin">Funciones Avanzadas</a></li>
                        {% block registrar_curso %}
                        {% endblock %}
                        {% block reportes %}
                        {% endblock %}
                        {% block resultado_reporte %}
                        {% endblock %}
                        {% block edit_curso %}
                        {% endblock %}
                {% elif otro %}
                    <p>No tiene permisos para ver esta página</p>
                {% elif master %}
                    <ul class="list-inline">
                        <li><a href="/login/profile">Inicio</a></li>
                        <li><a href="{{perfil.get_absolute_url}}">Mis Cursos</a></li>
                    </ul>
                    {% block cohortes_busqueda %}
                    {% endblock %}
                    {% block actividades %}
                    {% endblock %}
                {% endif %}
            </div>
            {% block buscar_cursos %}
            {% endblock %}
            {% block info_curso %}
            {% endblock %}
            {% if admin or master %}
                {% block cohortes %}
                {% endblock %}
            {% endif %}
        {% else %}
            <div class="no_sesion">
                <p>
                    No se permite el acceso de invitados. Por favor <a href="/login">inicie sesión</a> o <a href="/signup">regístrese</a>
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}