{% extends "base.html" %}
{% block title %}
    Iniciar Sesión
{% endblock %}

{% block content %}
    <div class="contenedor">
        {%  if user.is_authenticated %}
            <div class="info_usuario">
                <p>
                    Sesión iniciada como {{ user.username }}
                    <a href="/logout/">Cerrar Sesión</a>
                </p>
            </div>
            <div class="menu_opciones">
                {% if leader %}
                    <ul>
                        <li><a href="#">Mis Cursos</a></li>
                        <li><a href="#">Buscar Cursos</a></li>
                        <li><a href="{{perfil.get_absolute_url}}">Ver Perfil</a></li>
                    </ul>
                {% elif secretaria %}
                    <ul>
                        <li><a href="#">Ver profesores inscritos</a></li>
                        <li><a href="{{perfil.get_absolute_url}}">Ver Perfil</a></li>
                    </ul>
                {% endif %}

                {% if leader and editar or secretaria %}
                    {% block busqueda %}
                    {% endblock %}
                {% elif leader %}
                    {% block restricted %}
                    {% endblock %}
                {% endif %}
                {% if admin %}
                    <p>
                        Por favor ingrese a la interfaz principal de <a href= '/admin/'>administrador</a>
                    </p>
                {% elif otro %}
                    <p>No tiene permisos para ver esta página</p>
                {% endif %}
            </div>
        {% else %}
            <div class="no_sesion">
                <p>
                    No se permite el acceso de invitados. Por favor <a href="/login">inicie sesión</a> o <a href="/signup">regístrese</a>
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}