{% extends "inicio/perfil.html" %}
{% block title %}
	Actividades {{id_cohorte}}-{{id_curso}}
{% endblock %}
{% block actividades_cohorte %}
	<h2>Actividades para el curso {{curso}}</h2><br />
	{% if actividades %}
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>Actividad</th>
					<th>Descripción</th>
					<th>Fecha de inicio</th>
					<th>Fecha de entrega</th>
					<th>Porcentaje de nota final</th>
				</tr>
				{% for actividad in actividades %}
				<tr>
					<td><a href="{{actividad.id}}">{{actividad}}</a></td>
					<td>{{actividad.descripcion}}</td>
					<td>{{actividad.fecha_inicio}}</td>
					<td>{{actividad.fecha_fin}}</td>
					<td>{{actividad.porcentaje}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<br />
		<p>No existen actividades registradas</p>
	{% endif %}
	{% if master %}
	<a href="actividades/registrar">Agregar actividad</a>
	{% endif %}
{% endblock %}