{% extends "inicio/perfil.html" %}
{% block title %}
Búsqueda de Cursos
{% endblock %}
{% block buscar_cursos %}
<h2><center>Cursos Disponibles</center></h2>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Nombre</th>
			<th>Detalles</th>
			{% if admin %}
			<th>Editar</th>
			<th>Borrar</th>
			{% endif %}
		</tr>
		{% for curso in cursos %}
		<tr>
			<td>{{curso.nombre}}</td>
			<td><a href="{{curso.get_absolute_url}}">Ver Información</a></td>
			{% if admin %}
			<td><a href="{{curso.get_absolute_url}}update">Modificar</a></td>
			<td><a href="{{curso.get_absolute_url}}delete">Eliminar</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
{% if admin %}
<br />
<form method="POST">
	{% csrf_token %}
	<button type="submit">Añadir Curso</button>
</form>
{% endif %}
{% endblock %}