{% extends "inicio/perfil.html" %}
{% block title %}
    {% if leader %}
    	Cohortes asignadas | {{usuario.first_name}}
    {% elif admin %}
    	Cohortes de cursos
    {% endif %}
{% endblock %}
{% block cohortes %}
<h2>Cohortes Asignadas</h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Cohorte</th>
				<th>Curso</th>
			</tr>
		{% for curso_cohorte in cursos_cohortes %}
			<tr>
				{% if admin %}
				<td><a href="{{curso_cohorte.0.id}}">Cohorte {{curso_cohorte.0.id}}</a></td>
				{% elif master %}
				<td><a href="{{curso_cohorte.1.id}}/{{curso_cohorte.0.id}}">Cohorte {{curso_cohorte.0.id}}</a></td>
				{% endif %}
				<td>{{curso_cohorte.1.nombre}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}