{% extends "inicio/perfil.html" %}
{% block title %}
	Curso {{curso.nombre}}
{% endblock %}
{% block info_curso %}
<div class="informacion">
	<h2>Información de curso {{curso.nombre}}</h2>
	<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Dato</th>
			<th>Información</th>
		</tr>
		<tr>
			<td>Área</td>
			<td>{{area.nombre}}</td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td>{{curso.nombre}}</td>
		</tr>
		<tr>
			<td>Descripción</td>
			<td>{{curso.descripcion}}</td>
		</tr>
	</table>
</div>
<div class="adicional">
	{% if leader %}
	<form method="POST">
		{%  csrf_token %}
		<button type="submit" formmethod="post">Matricularme</button>
	</form>
	{% endif %}
	{% if exito %}
		<p class="info_matricula">{{exito}}</p>
	{% endif %}
</div>
{% endblock %}